<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="multiRebus" type="Rebus.Configuration.MultiBusConfigurationSection, Tru.Common.Rebus" />
  </configSections>

  <multiRebus>
    <rebus name="mnp.servicebus.spain" inputQueue="mnp.servicebus.spain" errorQueue="mnp.servicebus.spain.error" auditQueue="mnp.servicebus.spain.audit" timeoutManager="" workers="10" maxRetries="5" latencyBackoffMilliseconds="20" setCurrentPrincipal="false">
      <transport>
        <msmq />
        <sqlServer nameOrConnectionString="" table="Rebus.Messages" />
        <filesystem baseDirectory="" />

        <!--<msmq inputQueue="mnp.servicebus.spain" errorQueue="mnp.servicebus.spain.error" auditQueue="mnp.servicebus.spain.audit" />
        <sqlServer nameOrConnectionString="" table="Rebus.Messages" inputQueue="mnp.servicebus.spain" errorQueue="mnp.servicebus.spain.error" />
        <filesystem baseDirectory="" inputQueue="mnp.servicebus.spain" errorQueue="mnp.servicebus.spain.error" />-->
      </transport>
      <endpoints>
        <add messages="Mnp.Spain.Domain" endpoint="mnp.servicebus.spain" />
        <!--<add assembly="Mnp.Spain.Domain" endpoint="mnp.servicebus.spain" />
        <add assembly="Mnp.Spain.Domain" namespace="Mnp.Spain.Domain" endpoint="mnp.servicebus.spain" />
        <add type="" endpoint="mnp.servicebus.spain" />
        <add assembly="Mnp.Spain.Domain" messages="Mnp.Spain.Domain" namespace="Mnp.Spain.Domain" type="" endpoint="mnp.servicebus.spain" />-->
      </endpoints>
      <subscriptions>
        <sqlServer nameOrConnectionString="" table="Rebus.Subscriptions" ensureTableCreated="true" />
        <!--<inMemory />-->
        <xml file="" />
        <custom type="" />
      </subscriptions>
      <sagas>
        <sqlServerStorage nameOrConnectionString="" table="Rebus.Sagas" indexTable="Rebus.Sagas.Index" ensureTablesCreated="true" />
        <!--<inMemoryStorage />-->
        <custom type="" />
      </sagas>
      <timeouts>
        <sqlServer nameOrConnectionString="" table="Rebus.Timeouts" ensureTableCreated="true" />
        <inMemory />
        <custom type="" />
      </timeouts>
      <serialization>
        <binary />
        <json />
        <custom type="" />
      </serialization>
      <decorators>
        <compressMessageBodies compressionThresholdBytes="2048" />
        <encryptMessageBodies key="" />
      </decorators>
      <retries>
        <exception type="System.ApplicationException" maxretries="0" />
      </retries>
      <logging>
        <none />
        <console level="" />
        <coloredConsole level="" debugColor="" infoColor="" warnColor="" errorColor="" />
        <serilog correlationIdentifierPropertyKey="" />
        <nlog correlationIdentifierPropertyKey="" />
        <log4net correlationIdentifierPropertyKey="" />
        <custom type="" />
      </logging>
    </rebus>

    <rebus name="mnp.servicebus.spain" 
           inputQueue="mnp.servicebus.spain" 
           errorQueue="mnp.servicebus.spain.error" 
           auditQueue="mnp.servicebus.spain.audit"
           workers="10" 
           maxRetries="5" 
           timeoutManager="" 
           latencyBackoffMilliseconds="20" 
           setCurrentPrincipal="false" 
           compressMessages="false" 
           compressionThresholdBytes="2048" 
           encryptMessages="false" 
           encryptionKey=""
           enableAuditing="false">
      <endpoints>
        <add messages="Mnp.Spain.Domain" endpoint="mnp.servicebus.spain" />
        <!--<add assembly="Mnp.Spain.Domain" endpoint="mnp.servicebus.spain" />
        <add assembly="Mnp.Spain.Domain" namespace="Mnp.Spain.Domain" endpoint="mnp.servicebus.spain" />
        <add type="" endpoint="mnp.servicebus.spain" />
        <add assembly="Mnp.Spain.Domain" messages="Mnp.Spain.Domain" namespace="Mnp.Spain.Domain" type="" endpoint="mnp.servicebus.spain" />-->
      </endpoints>

      <msmqTransport />
      <sqlServerTransport nameOrConnectionString="" table="Rebus.Messages" />
      <filesystemTransport baseDirectory="" />

      <sqlServerSubscriptionStorage nameOrConnectionString="" table="Rebus.Subscriptions" ensureTableCreated="true" />
      <customSubscriptionStorage type="" />

      <sqlServerSagaStorage nameOrConnectionString="" table="Rebus.Sagas" indexTable="Rebus.Sagas.Index" ensureTablesCreated="true" />
      <customSagaStorage type="" />

      <sqlServerTimeoutManager nameOrConnectionString="" table="Rebus.Timeouts" ensureTableCreated="true" />

      <binarySerialization />
      <jsonSerialization />
      <customSerialization type="" />

      <consoleLogger level="" />
      <coloredConsoleLogger level="" debugColor="" infoColor="" warnColor="" errorColor="" />
      <serilogLogger correlationIdentifierPropertyKey="" />
      <nlogLogger correlationIdentifierPropertyKey="" />
      <log4netLogger correlationIdentifierPropertyKey="" />
      <customLogger type="" />

      <retries>
        <exception type="System.ApplicationException" maxretries="0" />
      </retries>

    </rebus>

    <rebus name="mnp.servicebus.spain" workers="10" maxRetries="5" timeoutManager="" latencyBackoffMilliseconds="20" setCurrentPrincipal="false" compressMessages="false" compressionThresholdBytes="2048" encryptMessages="false" encryptionKey="">
      <endpoints>
        <add messages="Mnp.Spain.Domain" endpoint="mnp.servicebus.spain" />
      </endpoints>
      <msmqTransport inputQueue="mnp.servicebus.spain" errorQueue="mnp.servicebus.spain.error" auditQueue="mnp.servicebus.spain.audit" />
      <sqlServerSubscriptionStorage nameOrConnectionString="" table="Rebus.Subscriptions" ensureTableCreated="true" />
      <sqlServerSagaStorage nameOrConnectionString="" table="Rebus.Sagas" indexTable="Rebus.Sagas.Index" ensureTablesCreated="true" />
      <sqlServerTimeoutManager nameOrConnectionString="" table="Rebus.Timeouts" ensureTableCreated="true" />
      <serilogLogger correlationIdentifierPropertyKey="" />
      <retries>
        <exception type="System.ApplicationException" maxretries="0" />
      </retries>
    </rebus>
  </multiRebus>

  <multiRebus>
    <sqlServerSubscriptionStorage nameOrConnectionString="" />
    <sqlServerSagaStorage nameOrConnectionString="" />
    <sqlServerTimeoutManager nameOrConnectionString="" />
    <serilogLogger />
    <msmqTransport />
    <rebusConfigurations>
      <rebus name="mnp.servicebus.spain" workers="10" maxRetries="5" timeoutManager="" enableAuditing="false">
        <endpoints>
          <add messages="Mnp.Spain.Domain" endpoint="mnp.servicebus.spain" />
        </endpoints>
      </rebus>
      <rebus name="mnp.servicebus.spain" workers="10" maxRetries="5" timeoutManager="" enableAuditing="false">
        <endpoints>
          <add messages="Mnp.Spain.Domain" endpoint="mnp.servicebus.spain" />
        </endpoints>
      </rebus>
    </rebusConfigurations>
  </multiRebus>
  
</configuration>